<div class="ad-space">
  <div class="ad-image">
    <p>This site uses data from the </p>
      <a href="http://growstuff.org/" target="_blank">
        <img src="/img/growstuff-brand.png" alt="Growstuff Logo" title="Branding logo for Growstuff">
      </a>
    <p><a href="http://growstuff.org/" target="_blank">Growstuff API</a>.</p>
  </div>
</div>
