<div class="ad-space">
  <div class="ad-image">
    <img src="/img/growstuff-brand.png" alt="Growstuff Logo" title="Branding logo for Growstuff">
    <p>This site uses data from the <a href="http://growstuff.org/" target="_blank">Growstuff API</a>.</p>
  </div>
</div>
