
<a class="btn btn-danger active" role="button" href="/auth/logout">Logout</a>
<a class="btn btn-info active" role="button" href="/user/profile">User Profile</a>
<a class="btn btn-success active" role="button" href="/garden/show/<%=currentUser.id %>">Show Gardens</a>
<a class="btn btn-success active" role="button" href="/garden/new/api">Create Garden</a>
