    <h2>Create New Garden</h2>
      <form class="create-garden" name="gardenCreate" action="/garden/new" method="post">

      <!-- for the garden -->
      <fieldset>
        <div class="garden">
          <input type="hidden" class="form-control" name="user_id" value="<%= currentUser.id %>">
            <div class="form-group">
              <label for="gardenName">Garden Name</label>
              <input id="gardenName" type="text" name="name" placeholder="Name of this garden" value="Name of this garden">
            </div>

            <div class="form-group">
              <label for="gardenLocation">Location</label>
              <input id="gardenLocation" type="text" name="location" placeholder="Location of this garden" value="garden location">
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Garden Description</span>
              </div>
              <textarea class="form-control" name="description" aria-label="Garden Description">Testing</textarea>
            </div>
        </div>
      </fieldset>

        <a class="btn btn-primary" role="button" href="/">Home</a>
        <a class="btn btn-info" role="button" href="/garden/show/<%= currentUser.id %>">Show Gardens</a>
        <input class="btn btn-success" type="submit">

      </form>

      <div class="gardenData">
        <h3>Garden Data</h3>
        <p>What can we put there to help with garden planning?</p>
      </div>
