<h2>Home</h2>
<% if (currentUser) { %>
  <p>Hi <%= currentUser.first_name %> <%= currentUser.last_name %>, welcome.</p>
<% } %>
<div class="home-content">
  <article class="article-about">
    <h3>About Eie.io Garden App.</h3>
    <p>The Eie.io Garden App allows a user to create and track your backyard
      garden. </p>
  </article>
  <hr>
  <article class="article-getStarted">
    <h3>How to get started.</h3>
    <ol>
      <li>Step 1: Create an Account or Log in.</li>
      <li>Step 2: Create a Garden</li>
      <ul>
        <li>The app will walk you through a series of steps to set up garden sections.</li>
        <li>There are no limts to the number of gardens you can create and track.</li>
        <li>There are no limts to the number of sections you can create and track.</li>
        <li>A section can only have one crop.</li>
      </ul>
      <% if (currentUser) { %>
        <li>The Show Gardens button opens a list of your gardens.</li>
        <ul>
          <li>You can edit, add or delete gardens.</li>
          <li>You can also edit, add or delete garden sections.</li>
        </ul>
      <% } %>
    </ol>
  </article>
  <hr>
</div>
<% if (currentUser) { %>
  <% include partials/nav %>
<% } else { %>
<a class="btn btn-success btn-lg active" role="button" href="/auth/signup">Signup</a>
<a class="btn btn-primary btn-lg active" role="button" href="/auth/login">Login</a>
<% }%>

<!-- <a href="/profile">Profile</a> -->
