body {
  /* text-align: center; */
  /* font-family: 'Nosifer', cursive; */
  /* font-family: 'Vast Shadow', cursive; */
  font-family: 'Bitter', serif;
}

h1 {
  color: pink;
  background-color: gray;
}

article {
    display: block;
}

.ad-space {
  background-color: lightgreen;
  padding: .5em;

}

/* #bootstrap-scrollspy {
  position: relative;
  height: 500px;
  overflow-y: scroll;

} */

/* .scrollspy {
} */
