body {
  font-family: 'Bitter', serif;
}

.container {
  background-image: url('/img/field-two.jpg');
  /* position: fixed; */
  background-size: cover;
  background-repeat: no-repeat;

}

h1, h2, h3, p {
  color: #fff;
}

article {
    display: block;
}

.ad-space {
  text-align: center;
  background-color: lightgreen;
  padding: .5em;

}

/* #bootstrap-scrollspy {
  position: relative;
  height: 500px;
  overflow-y: scroll;

} */

/* .scrollspy {
} */
